<body>

    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">NEEDS</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Acceuil</a></li>
                    <li><a href="/listeproduits">Liste Des Produit</a></li>
                    <li><a href="/listecommandes">Liste Des Commandes</a></li>
                    <li><a href="/ajouterproduit">Ajouter Produit</a></li>
                    <li><a href="/profil">Profile</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->


    <!-- Main Content -->
<br><br><br>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Client </h1>

        </div>


        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-dark">Liste des Clients </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" (input)="filter($event.target.value)"
                                    class="form-control bg-light border-0 small"
                                    placeholder="Recherche par nom du client" aria-label="Search"
                                    aria-describedby="basic-addon2" size="98px">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button">
                                        <i class="fas fa-search fa-sm "></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p><button style="margin-top:10px;" class="btn btn-success" type="submit"
                                routerLink="/clients/add"><i class="fa fa-plus"></i> Ajouter</button></p>
                        <h2></h2>
                        <ul style="margin-left:10px; margin-right:10px" _ngcontent-yjf-c31="" class="nav-tabs nav"
                            ngbnav="" role="tablist">
                            <li _ngcontent-yjf-c31="" ngbnavitem="" class="nav-item"><a _ngcontent-yjf-c31=""
                                    routerLink="/clients/list" ngbnavlink="" id="ngb-nav-38" class="nav-link active"
                                    role="tab" aria-controls="ngb-nav-38-panel" aria-selected="true"
                                    aria-disabled="false"><i class="fab fa-product-hunt text-success"></i>
                                    Clients ({{clientsList.length}})</a></li>

                        </ul>
                        <div class="row" style="margin-left:5px; margin-right:5px">
                            <div class="col">
                                
                                
                                
                                <table  class="table table-sm">
                                    <thead style="color: #0e5355bd;font-size: 15px;">
                                        <tr>
                                            <th>Image</th>
                                            <th>Prix</th>
                                            <th>Nom</th>
                                            <th>Catégories</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of clientsList">
                                           
                                            
                                            <th>{{client.nom}}</th>
                                            <th>{{client.prenom}}</th>
                                            <th>{{client.email}}</th>
                                            <th>{{client.numero}}</th>

                                            <th>
                                                <button [routerLink]="['/client/details', client._id]"
                                                    class="btn btn-sm btn-warning">
                                                    <i class="fa fa-eye"></i>
                                                </button>

                                                <button routerLink="/clients/update" class="btn btn-sm btn-info mx-3">
                                                    <i class="fa fa-pen"></i>
                                                </button>
                                                <a href="#" data-toggle="modal" data-target="#deleteModal">
                                                    <button (click)="deleteRow(client)" class="btn btn-sm btn-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </a>
                                            </th>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                </div>



                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div _ngcontent-ykg-c20="" class="text-center p-2 ng-star-inserted"><i _ngcontent-ykg-c20=""
                                    class="fas fa-exclamation-circle"
                                    style="font-size: 80px;margin-top: 19px; color: red !important"></i>
                                <h2 class="swal2-title" id="swal2-title"
                                    style="display: flex; margin-top:-40px ; margin-left: 76px;color: black;">
                                    Êtes-vous sûr ?</h2>
                                <div id="swal2-content" style="display: block;color: black;">
                                    Ce  Client sera supprimé.</div>
                                <br>

                                <button
                                    style="font-weight:bold;color: #fff;background-color:rgba(28, 192, 110, 0.808);margin-right: 10px; margin-bottom: 50px;"
                                    id="closeModalButton" data-toggle="modal" data-target="#deleteModal"
                                    class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <a style="border: 0;
                                border-radius: .25em;
                                margin-bottom: 50px;
                                background: initial;
                                background-color:rgba(28, 192, 110, 0.808);
                                color: #fff;
                                font-size: 1.0625em;" class="btn btn-success" (click)="delete()">Approuver </a>



                            </div>
                        </div>

                    </div>
                </div>






            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->


    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>Remember</h3>
                        <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime
                            saepe
                            commodi
                            placeat.</p>
                    </div>
                </div>
                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit"
                                value="Subscribe">
                        </form>
                    </div>
                </div>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Remember</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer> <!-- End Footer -->
    <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>







</body>