<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html" style="font-style: italic; align-content: center;">Nouveau
                        produit</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
        </div>
    </header><!-- End Header -->



    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->



                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card shadow mb-4">

                            <!-- Card Body -->
                            <div class="card-body" style="padding:40px;">
                                <h6 style="color: black;font-weight: bold;">INFORMATIONS</h6>
                                <hr>

                                <form [formGroup]="produitsAddForm" class="user" (ngsubmit)="produitUser()">

                                    <div style="margin-left: 2px;" class="row">
                                        <div class="pp"><label for="lib">Nom <span
                                                    style="color: red;">*</span></label><input class="fais"
                                                class="form-control" type="texte" formControlName="nom" size="35"
                                                maxlength="40" id="exampleNom">

                                            <div *ngIf="nom.touched && nom.invalid" class="text-danger">
                                                <div *ngIf="nom.errors.required">
                                                    <small>* Champ obligatoire</small>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="pp"><label for="categorie">Catégorie</label>
                                            <select style="width: 300px;" class="faiss" class="form-control"
                                                name="categorie" id="categorie" formControlName="categorie">
                                                <option></option>
                                                <option *ngFor="let option of categories">{{option}}</option>
                                                <!-- <option value="Catégorie générale">Catégorie générale</option>
                                                <option value="2">+ Ajouter</option> -->

                                            </select>
                                        </div>
                                        <div class="pp"><label for="reference">Référence </label><input class="faisss"
                                                class="form-control" type="text" name="reference" size="35"
                                                maxlength="40" id="reference" formControlName="reference">
                                        </div>


                                    </div>

                                    <div class="form-group row">
                                        <div class="col mb-3 mb-sm-0">
                                            <div class="pp"><label for="code">Code </label><input class="fais"
                                                    class="form-control" type="texte" name="code" size="35"
                                                    maxlength="40" id="code" formControlName="code"></div>

                                        </div>
                                    </div>

                                    <div>
                                        <label for="description">Description</label><textarea class="lou"
                                            class="form-control" type="text" name="description"
                                            formControlName="description" size="50" id="description"></textarea>

                                    </div>






                                    <div class="spec">


                                        <input #file style="color:rgba(192, 192, 192, 0.315);" type="file"
                                            accept="image/*" (change)="onFileChanged($event);preview(file.files)"
                                            formControlName="image" />
                                        <br>
                                        <br>
                                        <i style="margin-left: 95px;" class="fas fa-upload"></i>
                                        <br>
                                        <div style="margin-left:40px">Télécharger image</div>
                                        <br>
                                        <br>
                                        <div style="margin-top: -150px;" *ngIf="imgURL">
                                            <!-- <img  style="width:220px;" [src]="filePath" > -->
                                            <img style="width:220px;" [src]="imgURL">
                                        </div>

                                    </div>
                                    <br>




                                    <fieldset>
                                        <legend>Prix de vente</legend>

                                        <div style="margin-left: 2px;" class="row">
                                            <div class="pp"><label for="prix">Prix
                                                    public <span style="color: red;">*</span></label>
                                                <input class="form-control " formControlName="prix" id="examplePrix"
                                                    type="number" placeholder="Prix public" size="50">
                                                <div *ngIf="prix.touched && prix.invalid" class="text-danger">
                                                    <div *ngIf="prix.errors.required">
                                                        <small>* Le prix unitaire est obligatoire</small>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>


                                    </fieldset>
                                    <br>
                                    <hr>


                                    <div style="margin-top: 70px;margin-bottom: 70px; margin-left: 50px;">
                                        <div class=" d-flex align-self-end"><button [disabled]="produitsAddForm.invalid"
                                                class="btn btn-success" type="submit"
                                                (click)="produitUser()">Ajouter</button>
                                            &nbsp; &nbsp;
                                            <!----><button class="btn btn-light ng-star-inserted" type="submit"
                                                routerLink="/listeproduit"> Annuler
                                            </button>&nbsp; &nbsp;
                                            <!---->&nbsp;
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <!-- /.container-fluid -->


                        <!-- End of Main Content -->

                        <!-- Footer -->










                        <!-- End of Content Wrapper -->


                        <!-- End of Page Wrapper -->
                        <footer id="footer">
                            <div class="footer-top">
                                <div class="container">
                                    <div class="row  justify-content-center">
                                        <div class="col-lg-6">
                                            <h3>NEEDS</h3>
                                        </div>
                                    </div>
                                    <div class="row footer-newsletter justify-content-center">
                                        <div class="col-lg-6">
                                            <form action="" method="post">
                                                <input type="email" name="email" placeholder="Enter your Email"><input
                                                    type="submit" value="Connecter">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="social-links">
                                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="container footer-bottom clearfix">
                                <div class="copyright">
                                    &copy; Copyright <strong><span>NEEDS</span></strong>
                                </div>
                                <div class="credits">
                                    <!-- All the links in the footer should remain intact. -->
                                    <!-- You can delete the links only if you purchased the pro version. -->
                                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/ -->
                                    Conçu par <a href="https://bootstrapmade.com/">Issaoui Sabrine</a>
                                </div>
                            </div>
                        </footer> <!-- End Footer -->
                        <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
                    </div>