<body>



    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">NEEDS</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Acceuil</a></li>
                    <li><a routerLink="/produits">Produits</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/signup">S'inscrire</a></li>
                    <li><a routerLink="/signin">Connecter</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="slider">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <figure>
            <img src="assets/nos-produits.jpg">
            <img src="assets/panier.jpg">
            <img src="assets/service_.jpg">

        </figure>
    </div>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up">
                    <ul id="portfolio-flters">
                        <li *ngFor="let filterObj of filter" (click)="FilterClick(filterObj)"
                            [ngClass]="filterObj===selectedFilter? 'filter-active':'' ">{{filterObj}}</li>
                        <!-- <li data-filter="*" class="filter-active">Tous </li>
                        <li data-filter=".filter-app">Immoblier</li>
                        <li data-filter=".filter-card">Véhicules</li>
                        <li data-filter=".filter-web">Appartemmet</li>
                        <li data-filter=".filter-web">Informatique</li>
                        <li data-filter=".filter-web">Maison Et Jardin</li> -->

                    </ul>
                </div>
            </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="/assets/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="/assets/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details" data-toggle="modal"
                            data-target="#exampleModal"><i class="bx bx-link"></i></a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div> -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-web" *ngFor="let prod of prodList">
                    <img [src]=prod.image class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{prod.nom}}</h4>
                        <p>{{prod.description}}</p>
                        <span data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"
                            (click)="onPreview(prod)"><i class="bx bx-plus"></i></span>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="assets/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="assets/assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="assets/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="assets/assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="assets/assets/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="assets/assets/assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="assets/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="assets/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="assets/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="assets/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="assets/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="assets/assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="assets/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="assets/assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="assets/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="assets/assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Footer ======= -->



    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>NEEDS</h3>
                    </div>
                </div>
                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit"
                                value="Connecter">
                        </form>
                    </div>
                </div>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>NEEDS</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->


            </div>
        </div>
    </footer> <!-- End Footer -->
    <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
















</body>