<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-envelope"></i><a href="mailto:contact@example.com">Sabrinetteissaoui27@gmail.com</a>
                <i class="icofont-phone"></i> +(216)28.61.54.87
            </div>
            <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html" style="font-style: italic;">NEEDS</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Acceuil</a></li>
                    <li><a routerLink="/produits">Produits</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/signup">S'inscrire</a></li>
                    <li><a routerLink="/signin">Connecter</a></li>

                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    

    <!-- ======= Hero Section ======= -->
   
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="slider">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <figure>
        <img src="assets/services_logo1.jpeg">
        <img src="assets/produit.jpg">
        <img src="assets/service_.jpg">
    
      </figure>
    </div>
    
   
   
   
   
   

    <main id="main">

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">
      <div class="section-title" data-aos="zoom-in">
        <h2>A propos de Nous </h2>
        <h3>Pourquoi Vous Devriez <span>Nous Choisir </span>?</h3>
        <p style = "font-style: italic; color:rgb(253, 253, 44)"> En Savoir Plus Sur Notre Site ...
         </p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="box" data-aos="fade-up">
            <span style="color :rgb(253, 253, 44)">01</span>
            <h4 style ="font-style: italic;color: rgb(74, 99, 241)">Tous Les Produits</h4>
            <p style="font-style: oblique;">vous pouvez trouver toutes les catégories de produits que vous voulez et vous pouvez les acheter si facilement avec NEEDS</p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="100">
            <span  style="color :rgb(253, 253, 44)">02</span>
            <h4  style ="font-style: italic;color :rgb(74, 99, 241)">Tous Les Services </h4>
            <p>vous pouvez trouver toutes les catégories de services et vous pouvez choisir votre grand serveur pour vous aider et les contacter facilement tout cela vous pouvez le faire avec NEEDS </p>

          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <span  style="color :rgb(253, 253, 44)">03</span>
            <h4  style ="font-style: italic;color :rgb(74, 99, 241)"> Soutien De Jour Et De Nuit</h4>
            <p>Nous sommes prêts à vous aider à chaque fois que vous en avez besoin. 
                enfin nous sommes des BESOINS</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Why Us Section -->
   <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts">
    <div class="container">
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">232</span>
          <p>Clients</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">521</span>
          <p>Projects</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,463</span>
          <p>Hours Of Support</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">15</span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div>
  </section><!-- End Counts Section -->




        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="zoom-in">
                    <h2>Contact</h2>
                    <h3>Consulter Notre <span>COORDONNEES</span></h3>
                </div>

                <div>
                    <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                        frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4" data-aos="fade-right">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Technopark Elghazela , Ariana , Tunis</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Télephone:</h4>
                                <p>(+216) 28.61.54.87</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                        placeholder="Your Name" data-rule="minlen:4"
                                        data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Your Email" data-rule="email"
                                        data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" data-rule="minlen:4"
                                    data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                    data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Envoyer Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">

            <div class="container">

                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>NEEDS</h3>
                    </div>
                </div>

                <div class="row footer-newsletter justify-content-center">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email" placeholder="Enter your Email"><input type="submit"
                                value="Connecter">
                        </form>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>NEEDS</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/ -->
                Conçu par <a href="https://bootstrapmade.com/">Issaoui Sabrine</a>
            </div>
        </div>
    </footer> <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>
</body>