.section{
    background-image: url("https://i.ibb.co/jVDgsNB/7743452e99a1bcf378df63a0b3984b42.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #slider {
    pointer-events: none;
    overflow: hidden;
  }
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
  }
  #slider figure img {
    float: left;
    width: 20%;
  }
  
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -100%;
    }
    95% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  